.main {
    display: flex;
    margin: 20px;
}

.main .header-left {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    justify-content: center;
    width: 50%;
}

.main .header-left .header-left-container h1 {
    font-size: 6em;
    color: $color1;
    margin: auto 0;
}

.main .header-left .header-left-container h3 {
    margin: 0;
    font-size: 2em;
    color: $color2;
}

.main .header-left .header-left-container p {
    color: white;
    font-size: 0.8rem;
}

.main .header-right {
    display: flex;
    justify-content: space-around;
    width: 48%;
}

.main .header-right img {
    width: 100%;
}

@media screen and (max-width: 820px) {
    .main .header-left .header-left-container h1 {
        font-size: 4rem;
      
    }
}

@media screen and (max-width: 820px) {
    .main .header-left .header-left-container h1 {
        font-size: 4rem;
      
    }
}
